/*

@font-face 
    font-family 'cubicregular'
    src url('../fonts/cubic-webfont.eot')
    src url('../fonts/cubic-webfont.eot?#iefix') format('embedded-opentype'),url('../fonts/cubic-webfont.woff') format('woff'),url('../fonts/cubic-webfont.ttf') format('truetype'),url('../fonts/cubic-webfont.svg#cubicregular') format('svg')
    font-weight normal
    font-style normal
*/
