$iconName='iconitos22'
@font-face {
	font-family: $iconName;
	src:url('fonts/icomoon.eot?-omi1u7');
	src:url('fonts/icomoon.eot?#iefix-omi1u7') format('embedded-opentype'),url('fonts/icomoon.ttf?-omi1u7') format('truetype'),url('fonts/icomoon.woff?-omi1u7') format('woff'),url('fonts/icomoon.svg?-omi1u7#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon
	font-family $iconName