@media screen and (max-width:750px)
	.ocultar
		display none
	.mostrar
		display block

	section.Inicio .welcome
		text-align center	
	section.Inicio .welcome, section.Inicio .charla
		display block
		width 96%
		margin 0 auto 
		float none

@media screen and (max-width:922px)
	section.LCharlas .centerL #ultima				
		display inline-block
		margin-left 0
		#Ult
			margin-top 0 !important
			text-align none	

@media screen and (max-width:480px)		
	header nav
		width  100%

	header .logo .CLogo, header .logo hgroup
		margin-bottom 5px	

	header nav .Menu ul
		display block
		text-align center

	header .logo
		display block
		width 100%
		text-align center	

@media screen and (max-width:340px)	
	header nav .Menu ul li
		width 90%
		margin-bottom 10px

	section.Inicio .welcome hgroup h1
		font-size 6em	

@media screen and (max-width:320px)	
	section.Inicio .welcome hgroup h1
		font-size 5em	

	section.LCharlas .lista	
		width 100%
		min-width 0

	section.LCharlas .lista .CNTL
		margin 0

@media screen and (max-width:450px)	
	section.LCharlas .centerL .lista
		width 100%
		min-width 0


@media screen and (max-width:500px)
	.cajita
		display none !important
				